
.delete-form{
    display: inline;
}

body{ 
    padding-top: 70px; 
}

/* .gallery img{
    height: 200px;
    width: 100%;
} */

.index_pg img{
    height: 200px;
    width: auto;
}

.icon-start{
    height: 1em;
    width: auto;
}

/* Google Maps */
#map{
    height: 400px;
    width: 100%;
    margin-bottom: 2rem;
}

.list-group{
    font-size: 1.25em;
}

.header-msg{
    font-weight: 500;
}

.navbar_bg{
    background-color: #000;
    color: #fff;
}

.active {
    background-color: #007bff;
}

.nav-item {
    padding: 6px 12px;
    text-align: center;
    border-radius: 2px;
    border-left: solid #333 0.009px;
    border-right: solid #333 0.009px;
}

.nav-item:hover {
    background-color: #007bff;
    font-weight: 600;
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.90);
}

.user-div{
    float: right;
}

body{
    height: 100%;
    width: 100%;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

